@model HomeViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div> @(await Component.InvokeAsync("_Category")) </div>

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								<!-- product -->
								@foreach (var item in Model.NewProducts)
								{
									<div class="product">
										<div class="product-img">
											<td>
												<img src="@item.ImageURL" alt="Product Image"  />
											</td>
											<div class="product-label">
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@item.Category.CategoryName</p>
											<h3 class="product-name"> <a asp-action="ProductDetails" asp-route-id="@item.ProductID">@item.ProductName</a></h3>
											<h4 class="product-price">$@item.Price</h4>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
								}
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Hot Products</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-2">
								<!-- product -->
								@foreach (var item in Model.HotProducts)
								{
									<div class="product">
										<div class="product-img">
											<img src="@item.ImageURL" alt="Product Image" />
											<div class="product-label">
												<span class="hot">HOT</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@item.Category.CategoryName</p>
											<h3 class="product-name"> <a asp-action="ProductDetails" asp-route-id="@item.ProductID">@item.ProductName</a></h3>
											<h4 class="product-price">$@item.Price</h4>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									</div>
								}
								<!-- /product -->
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-3" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-3">
					<div>
						<!-- product widget -->
						@*@foreach (var item in Model.Take(3))
								{
						<div class="product-widget">
							<div class="product-img">
									<img src="@item.ImageURL" alt="Product Image" />

							</div>
							<div class="product-body">
								<p class="product-category">@item.Category.CategoryName</p>
								<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
								<h4 class="product-price">@item.Price</h4>
							</div>
						</div>
								}
					</div>
				</div>
			</div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-4" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-4">
					<div>
						<!-- product widget -->
						@foreach (var item in Model.Take(3))
								{
						<div class="product-widget">
							<div class="product-img">
									<img src="@item.ImageURL" alt="Product Image" />

							</div>
							<div class="product-body">
								<p class="product-category">@item.Category.CategoryName</p>
								<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
								<h4 class="product-price">@item.Price</h4>
							</div>
						</div>
								}
					</div>
				</div>
			</div>

			<div class="clearfix visible-sm visible-xs"></div>

			<div class="col-md-4 col-xs-6">
				<div class="section-title">
					<h4 class="title">Top selling</h4>
					<div class="section-nav">
						<div id="slick-nav-5" class="products-slick-nav"></div>
					</div>
				</div>

				<div class="products-widget-slick" data-nav="#slick-nav-5">
					<div>
						<!-- product widget -->
						@foreach (var item in Model.Take(3))
								{
						<div class="product-widget">
							<div class="product-img">
									<img src="@item.ImageURL" alt="Product Image" />

							</div>
							<div class="product-body">
								<p class="product-category">@item.Category.CategoryName</p>
								<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
								<h4 class="product-price">@item.Price</h4>
							</div>
						</div>
								}
						<!-- /product widget -->*@
					</div>
				</div>
			</div>

		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->


